@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../../vendor/livewire/livewire/src/**/*.php';

@theme {
    --font-sans: 'Vazirmatn', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        direction: rtl;
        font-family: 'Vazirmatn', sans-serif;
    }
}
